<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1440, maximum-scale=1.0" />
  <meta name="og:type" content="website" />
  <meta name="twitter:card" content="photo" />
  <link rel="stylesheet" type="text/css" href="../static/sign-up.css" />
  <link rel="stylesheet" type="text/css" href="../static/styleguide.css" />
  <link rel="stylesheet" type="text/css" href="../static/globals.css" />
  <script type="text/javascript" src="../static/validation.js"></script>
</head>

<body style="margin: 0; background: #ffffff">
  <input type="hidden" id="anPageName" name="page" value="sign-up" />
  <div class="container-center-horizontal">
    <div class="sign-up screen">
      <div class="group-2">
        <div class="overlap-group">
          <img class="vector-1" src="../static/img/vector-1-3.svg" alt="Vector 1" />
          <div class="job-quest">JobQuest</div>
        </div>
      </div>
      <form th:action="@{/api/auth/register}" method="POST" id="registrationForm">
        <div class="full-name lato-normal-black-24px">Full Name</div>
        <div class="overlap-group4"><input type="text" id="name" name="name" required></div>
        <span id="nameError" class="error-message"></span>
        <div class="email lato-normal-black-24px">Email</div>
        <div class="overlap-group4"><input type="email" id="email" name="email" required></div>
        <span id="emailError" class="error-message"></span>
        <div class="phone-number lato-normal-black-24px">Phone Number</div>
        <div class="overlap-group4"><input type="tel" id="phone-number" name="phoneNumber" required></div>
        <span id="phoneNumberError" class="error-message"></span>
        <div class="password lato-normal-black-24px">Password</div>
        <div class="overlap-group4"><input type="password" id="password" name="password" required></div>
        <span id="passwordError" class="error-message"></span>
        <div class="flex-row">
          <div class="group-3">
            <!-- <div class="overlap-group1"> -->
            <button type="submit" class="overlap-group1">Sign up</button>
            <!-- </div> -->
          </div>
          </input>
        </div>
    </div>
    </form>
  </div>
  </div>
</body>

</html>