/* screen - landing */

.landing {
    align-items: flex-start;
    background: linear-gradient(180deg, rgb(28.96, 65.57, 76.71) 0%, rgb(52.92, 104.56, 120.27) 100%);
    background-color: rgba(255,255,255,1.0);
    border: 1px none;
    display: flex;
    height: 1024px;
    overflow: hidden;
    padding: 202px 0;
    width: 1440px;
}

.landing .group-container {
    height: 619px;
    margin-left: 86px;
    margin-top: 1px;
    position: relative;
    width: 1454px;
}

.landing .overlap-group3 {
    height: 619px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1454px;
}

.landing .rectangle-1 {
    background-color: #ffd5c2;
    border-radius: 51px;
    height: 619px;
    left: 506px;
    position: absolute;
    top: 0;
    width: 948px;
}

.landing .discover-your-next-career-opportunity {
    color: var(--white);
    font-family: var(--font-family-lato);
    font-size: 69.8px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 79px;
    width: 540px;
}

.landing .overlap-group2 {
    height: 423px;
    left: 712px;
    position: absolute;
    top: 97px;
    width: 687px;
}

.landing .vector-1 {
    height: 423px;
    left: 157px;
    position: absolute;
    top: 0;
    width: 352px;
}

.landing .title {
    color: var(--william);
    font-family: var(--font-family-lato);
    font-size: 100.6px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 137px;
    width: 687px;
}

.landing .overlap-group {
    align-items: flex-start;
    background-image: url(img/rectangle-2.svg);
    background-size: 100% 100%;
    display: flex;
    height: 61px;
    justify-content: flex-end;
    left: 42px;
    min-width: 206px;
    padding: 9px 29px;
    position: absolute;
    top: 404px;
}

.landing .log-in {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    min-height: 26px;
    width: 118px;
}

.landing .group-6 {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 61px;
    left: 42px;
    min-width: 208px;
    position: absolute;
    top: 502px;
}

.landing .overlap-group1 {
    align-items: flex-end;
    background-image: url(static/img/rectangle-2.svg);
    background-size: 100% 100%;
    display: flex;
    height: 61px;
    justify-content: flex-end;
    min-width: 206px;
    padding: 6px 39px;
}

.landing .sign-up {
    letter-spacing: 0;
    line-height: normal;
    min-height: 47px;
    width: 118px;
}
